.admin-metric-grid.five {
  grid-template-columns: 1.25fr 1.25fr .8fr .8fr .8fr;
}

.admin-metric-grid.five article:nth-child(4) {
  border-right: 1px solid var(--line);
}

@media (max-width: 1180px) {
  .admin-metric-grid.five {
    grid-template-columns: 1fr 1fr;
  }

  .admin-metric-grid.five article {
    border-bottom: 1px solid var(--line);
  }

  .admin-metric-grid.five article:nth-child(even) {
    border-right: 0;
  }

  .admin-metric-grid.five article:last-child {
    border-bottom: 0;
  }
}

@media (max-width: 620px) {
  .admin-metric-grid.five {
    grid-template-columns: 1fr;
  }

  .admin-metric-grid.five article {
    border-right: 0;
  }
}
